<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <script type="text/javascript">

      Ext.onReady(function(){

        common.userslistDS = new Ext.data.Store({
          paramNames: {
            start: "start",
            limit: "limit",
            authenticity_token: "authenticity_token"
          },
          baseParams: {
            start: 0,
            limit: common.list_num,
            authenticity_token: '<%= form_authenticity_token.to_s %>'
          },
          proxy: new Ext.data.HttpProxy({
            url: 'users/index_data'
          }),
          reader: new Ext.data.JsonReader({
            totalProperty: 'totalProperty',
            root: 'root'
          }, [
            {name: 'id'},
            {name: 'name'},
            {name: 'passwd'},
            {name: 'created_at',mapping:'created_at'}
          ])
        });

        var SM = new Ext.grid.CheckboxSelectionModel();
        var CM = new Ext.grid.ColumnModel([new Ext.grid.RowNumberer(),SM,
          {header: '编号',dataIndex: 'id',width:40},
          {header: '姓名',dataIndex: 'name',width:180},
          {header: '密码',dataIndex: 'passwd',width:380},
          {header: '创建时间',dataIndex: 'created_at',width:110,renderer: Ext.util.Format.dateRenderer('Y-m-d H:i')}
        ]);

        var grid =  new Ext.grid.EditorGridPanel({
          ds: common.userslistDS,
          cm: CM,
          sm: SM,
          border:false,
          clicksToEdit: 1,
          height : Ext.get("users_index_div").getHeight(),
          iconCls: 'icon-grid',
          tbar:['-',
            {
              text:'增加',
              width:50,
              iconCls: 'addItem',
              handler:function(){
                openWindow('win','增加',"users/new",364,177,common.userslistDS)
              }
            },'-',{
              text:'编辑',
              width:50,
              iconCls: 'editItem',
              handler:function(){
                var records = grid.getSelectionModel().getSelection();
                if(records.length==0){
                  Ext.MessageBox.alert('提示信息', '请先选中一条记录。');
                }else{
                  openWindow('win','编辑',"users/"+records[0].get('id')+"/edit",364,177,common.userslistDS)
                }
              }
            },'-',{
              text:'删除',
              width:50,
              iconCls: 'deleteItem',
              handler:function(){
                var records = grid.getSelectionModel().getSelection();
                if(records.length==0){
                  Ext.MessageBox.alert('提示信息', '请先选中一条记录。');
                }else{
                  Ext.MessageBox.confirm('警告','确定要删除该记录吗？',function (button){
                    if(button=='yes'){
                      Ext.Ajax.request({
                        url : 'users/'+records[0].get('id'),
                        method : 'DELETE',
                        waitMsg: '正在提交...',
                        params: {
                          authenticity_token: '<%= form_authenticity_token.to_s %>'
                        },
                        success : function (response,opts) {
                          Ext.MessageBox.alert('消息', '操作成功！');
                          common.userslistDS.reload();
                        },
                        failure : function (result, request){
                          Ext.MessageBox.alert('消息', result.info);
                        }
                      });
                    }
                  })
                }
              }
            }],
          bbar: new Ext.PagingToolbar({
            pageSize: common.list_num,
            store: common.userslistDS,
            displayInfo: true,
            displayMsg: "显示第 {0} 条到 {1} 条记录，一共 {2} 条",
            emptyMsg: "没有记录"
          })
        });
        grid.render('users_index_div');
        common.userslistDS.load();
      })
    </script>
  </head>
  <body>
    <div id="users_index_div" style="width:100%; height:100%"></div>
  </body>
</html>

