<div class="item">
  <a href="<%= gundam_photo.image_url(:big) %>" rel="lightbox" title="<%= gundam_title gundam_photo.gundam %>"><%= image_tag gundam_photo.image_url(:list), class: "img-polaroid" %></a>
</div>