<% content_for :header do%>
  <%= javascript_include_tag  "gundam_photos" %>
<%end%>
<div id="container">
  <%= render(partial: 'gundam_photo',:collection => @gundam_photos) %>
</div>
<%= will_paginate @gundam_photos, :renderer => BootstrapPagination::Rails %>