<div id="container">
<% @gundam_photos.each do |gundam_photo| %>
  <div class="item">
    <a href="<%= gundam_photo.image_url(:big) %>" rel="lightbox"><%= image_tag gundam_photo.image_url(:list), class: "img-polaroid" %></a>
  </div>
<% end %>
</div>

<%= link_to 'New Gundam photo', new_gundam_photo_path %>