<% content_for :header do%>
  <%= javascript_include_tag  "gundam_photos" %>
<%end%>
<div id="container">
  <% @gundam_photos.each do |gundam_photo| %>
    <div class="item">
      <a href="<%= gundam_photo.image_url(:big) %>" rel="lightbox" title="<%= gundam_title gundam_photo.gundam %>"><%= image_tag gundam_photo.image_url(:list), class: "img-polaroid" %></a>
    </div>
  <% end %>
</div>