<p id="notice"><%= notice %></p>

<%= image_tag @gundam_photo.image_url(:big), class: "img-polaroid" %>

<%= link_to 'Edit', edit_gundam_photo_path(@gundam_photo) %> |
<%= link_to 'Back', gundam_photos_path %>
