<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <script type="text/javascript">

      Ext.onReady(function(){
        var winForm = new Ext.form.FormPanel({
          url:'drivers',
          height: 132,
          width: 360,
          layout: 'absolute',
          border: false,
          frame:true,
          items: [
            {
              xtype: 'label',
              x: 50,
              y: 30,
              height: 20,
              width: 60,
              text: '姓名：'
            },
            {
              xtype: 'textfield',
              x: 110,
              y: 30,
              name: 'name',
              width: 210
            },
            {
              xtype: 'button',
              x: 130,
              y: 80,
              height: 30,
              width: 90,
              text: '保存',
              handler: function(){
                if (winForm.form.isValid()) {
                  winForm.form.submit({
                    method: 'post',
                    waitMsg: '正在处理...',
                    success: function(result, response){
                      Ext.MessageBox.alert('提示', '成功！');
                      Ext.getCmp('win').close();
                    },
                    failure: function(result, response){
                      Ext.MessageBox.alert('错误提示', response.result.info);
                    }
                  });
                }else {
                  Ext.MessageBox.alert('错误提示', '请按要求填写必输选项.');
                }
              }
            }
          ]
        });
        winForm.render('drivers_new_div');
      });
    </script>
  </head>
  <body>
    <div id="drivers_new_div" style="width:100%; height:100%"></div>
  </body>
</html>

